.App {
  height: 100vh;
}

.jumbo {
  background-color: rgba(190, 190, 190, 0.733);
  padding-top: 40px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.jumbo-error {
  background-color: rgba(190, 190, 190, 0.884);
  padding-top: 40px;
  min-height: 200px;
  border-radius: 15px;
  margin-bottom: 20px;
  max-width: 500px;
  margin: auto;
}

.jumbo-footer {
  background-color: rgba(167, 167, 167, 0.61);
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 1px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 0px;
}

.display-component {
  margin-top: 60px;
}

.form-component {
  padding-top: 15px;
  padding-right: 15px;
}

.footer-component {
  padding-top: 5px;
  padding-right: 20px;
  color: rgb(209, 209, 209);
  height: 40px;
}

input {
  border-radius: 5px;
  border: 1px solid rgb(199, 196, 196);
  padding-left: 5px;
  padding-bottom: 5px;
  min-height: 32px;
}
